In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import os

In [2]:
%%time
engine = create_engine("mysql://root:cocole10@localhost/examen")
conn = engine.connect()

CPU times: user 60 ms, sys: 16 ms, total: 76 ms
Wall time: 299 ms

/home/aleespa/anaconda2/lib/python2.7/site-packages/sqlalchemy/dialects/mysql/base.py:1546: Warning: '@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead
  cursor.execute('SELECT @@tx_isolation')

In [4]:
for arch in os.listdir('./Datos/'):
    if arch.endswith('.csv'):
        print arch
        df = pd.read_csv('./Datos/%s'%arch,delimiter='|')
        df.to_sql(arch.replace('.txt','').upper(),
                  chunksize=1000,
                  if_exists='replace',
                  con=conn)
conn.close()